body {
  background-image: url("background.png");
  background-size: cover;
  margin: 0;                                
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100vh; 
}

.container {
  position: relative;
  width: 790px;
  height: 419px;
  background-color:#313338;
}

.content1 {
  position: absolute;
  top: 7%;
  left: 23%;
  color: white;
  font-size: 26px;
}

.content2 {
  position: absolute;
  top: 17%;
  left: 20%;
  color: rgb(201, 201, 201);
  font-size: 15px;
}

.content3 {
  position: absolute;
  top: 27.5%;
  left: 5%;
  color: rgb(201, 201, 201);
  font-size: 13px;
}

.content4 {
  position: absolute;
  top: 47%;
  left: 5%;
  color: rgb(201, 201, 201);
  font-size: 13px;
}

input[type="text"] {
  width: 400px;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  position: absolute;
  top: calc(27% + 28px); 
  left: 5%;
  background-color: #1e1f22;
}

input[type="password"] {
  width: 400px;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  position: absolute;
  top: calc(47% + 28px);
  left: 5%;
  background-color: #1e1f22;
}

.forget {
  border: none;
  background-color: transparent;
  color: #4ba5f5;
  font-size: 15;
  cursor: pointer;
  position: absolute;
  top: calc(47% + 75px);
  left: 4%;
}

.forget:hover {
  text-decoration: underline;
}

.login {
  width: 425px;
  height: 45px;
  color: white;
  font-size: 20;
  background-color: #4951bd;
  border-radius: 5px;
  position: absolute;
  top: calc(47% + 115px);
  left: 5%;
}

.content5 {
  position: absolute;
  top: 87%;
  left: 5%;
  color: rgb(188, 186, 186);
  font-size: 13px;
}

.creat {
  border: none;
  background-color: transparent;
  color: #4ba5f5;
  font-size: 13px;
  cursor: pointer;
  position: absolute;
  top: calc(47% + 167px);
  left: 17%;
}

.creat:hover {
  text-decoration: underline;
}

.container img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.content6 {
  position: absolute;
  top: 67%;
  left: 70%;
  color: white;
  font-size: 20px;
}

.content7 {
  position: absolute;
  top: 75%;
  left: 67%;
  color: rgb(188, 186, 186);
  font-size: 15px;
}

.content8 {
  position: absolute;
  top: 80%;
  left: 75%;
  color: rgb(188, 186, 186);
  font-size: 15px;
}
